caption {
  font-size: 2em;
  background-color: #003f72;
  width: 100%;
  margin-top: 0;
  text-align: center;
}

.table-container {
  border-radius: 10px;
  width: 70%;
  margin: 0 auto;
  overflow-x: auto;
  /* Adicionado para lidar com tabelas largas em telas estreitas */
}

table {
  border-collapse: collapse;
  width: 60%;
  white-space: nowrap;
  font-weight: 600;
  align-items: center;
  text-rendering: optimizeLegibility;
  position: relative;
  -o-table-baseline: inherit;
  table-layout: unset;
  margin-top: 5%;
  margin-bottom: 6%;
  /* Adicionado um espaçamento inferior */
}

tbody tr:nth-child(odd) {
  background-color: #003f72;
  color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #fff;
  color: #003f72;
}

tbody tr:hover {
  background-color: #ffbf00;
  color: #003f72;
}

th,
td {
  text-align: center;
  padding: 10px;
}

th {
  background-color: #005ca7;
  color: #fff;
}

thead th:first-child {
  border-radius: 20px 0px 0px 0px;
}

thead th:last-child {
  border-radius: 0px 20px 0px 0px;
}

tfoot th:first-child {
  border-radius: 0px 0px 0px 20px;
}

tfoot th:last-child {
  border-radius: 0px 0px 20px 0px;
}

@media (max-width: 767px) {
  .table-container {
    width: 100%;
    overflow-x: auto;
  }

  table {
    margin-top: 20%;
    margin-bottom: 35%;
  }

  th,
  td {
    padding: 8px;
    font-size: 14px;
  }
}